# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
*.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.seed

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
error.log
repro.tar.gz

# local env files
.env*.local
# .env # We want to commit .env for this project, so it's commented out or removed.

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editor
.vscode/
*.swp
*.swo

# dotenv
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo
